body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,'Courier New',Courier,BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, rgb(0, 153, 247), rgb(241, 23, 18));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center{
  display: flex;
  justify-content: center;
}
button{
  cursor: pointer;
}
